@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background: rgb(115, 107, 255);
	background: linear-gradient(
		90deg,
		rgba(115, 107, 255, 1) 0%,
		rgba(61, 221, 255, 1) 50%,
		rgba(200, 57, 255, 1) 100%
	);
}
.container {
	display: flex;
	width: 100%;
	gap: 10px;
	max-width: 1050px;
}
section {
	background: #fffffff1;
	border: solid rgba(0, 0, 0, 0.201) 1px;
}
.tools-board {
	width: 250px;
	padding: 15px 22px 0;
	border-radius: 7px;
}
.tools-board .row {
	margin-bottom: 20px;
}
.row .options {
	list-style: none;
	margin: 10px 0 0 5px;
}
.row .options .option {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin-bottom: 10px;
}

.label-range {
	padding-right: 5px;
	color: #5a6168;
}
input[type='range'] {
	width: 140px;
	height: 5px;
}
.option-range {
	display: flex;
	justify-content: space-between;
}

.option:is(:hover, .active) img {
	filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg)
		brightness(100%) contrast(100%);
}
.option :where(span, label) {
	color: #5a6168;
	cursor: pointer;
	padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label) {
	color: #4a98f7;
}

.option #fill-color {
	cursor: pointer;
	height: 14px;
	width: 14px;
}
#fill-color:checked ~ label {
	color: #4a98f7;
}

.colors .options {
	display: flex;
	justify-content: space-between;
}
.colors .option {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin-top: 3px;
	position: relative;
}
.colors .option:nth-child(1) {
	background-color: #fff;
	border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2) {
	background-color: #000;
}
.colors .option:nth-child(3) {
	background-color: #e02020;
}
.colors .option:nth-child(4) {
	background-color: #6dd400;
}
.colors .option:nth-child(5) {
	border: 1px solid #bfbfbf;
	background: rgb(62, 50, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 44, 44, 1) 0%,
		rgba(62, 50, 255, 1) 50%,

		rgba(40, 255, 72, 1) 100%
	);
}
.colors .option.selected::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	height: 12px;
	width: 12px;
	background: inherit;
	border-radius: inherit;
	border: 2px solid #ffffff;
	transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before {
	border-color: #ccc;
}
.colors .option:hover::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	height: 12px;
	width: 12px;
	background: inherit;
	border-radius: inherit;
	border: 2px solid #ffffff;
	transform: translate(-50%, -50%);
	border-color: #cccccc;
}
.option #color-picker {
	opacity: 0;
	cursor: pointer;
}
.buttons button {
	width: 100%;
	color: #fff;
	border: none;
	outline: none;
	padding: 11px 0;
	font-size: 0.9rem;
	margin-bottom: 13px;
	background: none;
	border-radius: 4px;
	cursor: pointer;
}
.buttons .clear-canvas {
	color: #6c757d;
	border: 1px solid #6c757d;
	transition: all 0.3s ease;
}
.clear-canvas:hover {
	color: #fff;
	background: #6c757d;
}
.buttons .save-img {
	background: #308dff;
	border: 1px solid #308dff;
}
.save-img:hover {
	background: #52a0ff;
}
.drawing-board {
	flex: 1;
	overflow: hidden;
}
.drawing-board canvas {
	width: 100%;
	height: 100%;
}
